
services:
  influxdb:
    image: influxdb:latest
    container_name: local_influxdb
    ports:
      - "8086:8086"
    volumes:
      - influxdb_data:/var/lib/influxdb2
    environment:
      - DOCKER_INFLUXDB_INIT_MODE=setup
      - DOCKER_INFLUXDB_INIT_USERNAME=admin
      - DOCKER_INFLUXDB_INIT_PASSWORD=password123
      - DOCKER_INFLUXDB_INIT_ORG=manufacturing-iot
      - DOCKER_INFLUXDB_INIT_BUCKET=signals
      - DOCKER_INFLUXDB_INIT_ADMIN_TOKEN=my-super-token-secret



  grafana:
    image: grafana/grafana:latest
    container_name: local_grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    depends_on:
      - influxdb
    volumes:
      - ./grafana_provisioning:/etc/grafana/provisioning

volumes:
  influxdb_data: